streamlit
pandas
numpy
Pillow
PyMuPDF
paddleocr==3.0.1
langchain
langchain-core
langchain-openai
langchain-ollama
langchain-groq
langchain-community
langchain-huggingface
langgraph
faiss-cpu
requests
paddlepaddle
sentence-transformers



