streamlit
pandas
numpy
Pillow
PyMuPDF
paddleocr==2.6.1.3
paddlepaddle==2.6.2
langchain
langchain-core
langchain-openai
langchain-ollama
langchain-groq
langchain-community
langchain-huggingface
langgraph
faiss-cpu
requests
sentence-transformers




