streamlit
pandas
numpy
Pillow
PyMuPDF
paddleocr
langchain
langchain-core
langchain-openai
langchain-ollama
langchain-groq
langchain-community
langchain-huggingface
langgraph
faiss-cpu
requests
paddlepaddle

